version: '3.8'

services:
  backend:
    build: ./backend
    ports: 
      - "8000:8000"
    networks:
      - app-network
    volumes:
      - ./backend/documents:/app/documents

  frontend:
    build: ./frontend
    ports:
      - "8081:8081"
    depends_on:
      - backend
    networks:
      - app-network
    volumes:
      - ./frontend:/app
      - /app/node_modules

networks:
 app-network:
  driver: bridge